version: '3'

services:
  app:
    container_name: app
    restart: always
    build: .
    command: npm start
    ports:
      - '3000:3000'
    volumes:
      - .:/usr/app
    links:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - ./data:/data/db
    ports:
      - '27017:27017'
